* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f7fc;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #6d708b;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

h1 {
    color: #6d708b;
}

.bg-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    z-index: 1;
}

.bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 1;
}

.pricing-container {
    max-width: 1500px;
    max-height: 2000px;
    padding: 20px;
    text-align: center;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.toggle > span {
    margin: 0 15px;
    color: #bdbec2;
    font-size: 16px;
}

.toggle input {
    display: none;
}

.toggle label {
    background: linear-gradient(#a0a5f1, #686ede);
    border-radius: 50px;
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.toggle label:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.toggle input:checked + label {
    background: linear-gradient(#dfe0fd, #bec9fa);
}

.toggle input:checked + label:before {
    transform: translateX(30px);
    transition-duration: 0.4s;
}

.pricing-plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plan {
    background-color: white;
    box-shadow: 0 15px 25px rgba(79, 70, 229, 0.07);
    padding: 30px;
    width: 350px;
    height: 450px;
    color: #484a5e;
}

.plan > h3 {
    font-size: 22px;
}

.plan > p span {
    font-size: 40px;
    vertical-align: 25%;
    margin-right: 10px;
}

.plan:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.plan:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plan:nth-child(2) {
    height: 500px;
    border-radius: 10px;
    padding: 55px 30px;
    color: whitesmoke;
    background: linear-gradient(#a0a5f1, #686ede);
}

.plan:nth-child(2) > .plan-info > p {
    border-color: #a5a8e3;
}

.plan-info > p {
    padding: 15px;
    border-bottom: 1px solid #e0e7ff;
    font-size: 17px;
}

.plan-info > p:first-child {
    border-top: 1px solid #e0e7ff;
}

.price {
    font-size: 75px;
    font-weight: bold;
    padding: 20px 0;
}


button {
    margin-top: 35px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(to left, #686ede 10%, 50%, #a0a5f1 90%);
    color: whitesmoke;
    padding: 14px 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover {
    background: linear-gradient(white, white);
    color: #4f46e5;
    border: 1px solid #4f46e5;
}

.plan:nth-child(2) > button {
    background: linear-gradient(white, white);
    color: #4f46e5;
    border: 1px solid whitesmoke;
}

.plan:nth-child(2) > button:hover {
    background: linear-gradient(transparent, transparent);
    color: whitesmoke;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .main-container {
        height: max-content;

        padding: 50px 0;
    }

    .pricing-plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .bg-right {
        position: absolute;
        top: -5%;
        right: -35%;
        width: 70%;
        height: 65%;
    }
}

